@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter-sans);
  --font-mona: var(--font-mona-Sans);
}

:root{
  scroll-behavior: smooth;
  scroll-margin-top: "2rem";
}

body{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}